<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GymFlow</title>
    <link rel="stylesheet" href="./styles/index.css">
    </head>

    <body>
        <div class="wrapper" style="display:flex; flex-direction:column;">
    <div id="top_nav" class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">

        <div class="logo">

          <img src="./img/GymFlow.jpeg" style="height: 50%;
          width: 55%;
          " alt="Gymflow">
          <!--<p>GymFlow</p>-->
          <!--<img src="/img/GymFlow.jpg" alt=" GymFlow">-->

        </div>

        <ul>
          <li>

              <a href="/login" display="none">
                   <i class="fas fa-user"></i>
            </a>
          </li>
          <li>
            <a href="#" class="logged-in" display="none" id="logout">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
<div>
    <div class="sidebar">
      <ul>
        <li>

          <a href="/" display="none">
            <span class=" icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>

          <a href="/fitness" display="none" class="logged-in">
            <span class="icon"><i class="fas fa-dumbbell"></i></span>
            <span class="title">Fitness</span>
          </a>
        </li>
        <li class="logged-in">
          <a href="/profile">
            <span class="icon"><i class="fas fa-id-card"></i></span>
            <span class="title">Profile</span>
          </a>
        </li>
        <li>
          <a href="/contact" display="none">
            <span class="icon"><i class="fas fa-address-book"></i></span>
            <span class="title">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Main Components-->

  <div class="main_container">
      <center>
     <img
        src="./img/sven-mieke-optBC2FxCfc-unsplash.jpg"
        alt="Gym" style="width: 80%; height: 20em; margin-left: auto; margin-right: auto;" />
        <!--<p style="font-size: 10px;">Photo by Sven Mieke on Unsplash</p>-->
      </center>
        <br>
      <br>
      <div class="item">
        <h1>Purpose & Functionality</h1>
        <br />
        <p>
          GymFlow is a fitness web application for users to track their
          workouts, caloric intake, and body weight by inputting their data such as
          exercises and weights used. This data will be recorded and stored in
          a database. Each user will be able to create an account with their
          own personalized data. The user will be able to see their data using
          graphs to allow the user to visualize their progress over time. If
          the user decides to track their daily calorie intake, then they
          should be able to search specific foods by name and find its
          nutritional facts. The user will be able to record their weight to
          see overall progress in weight loss or gain. The nutritional facts
          associated with the food will come from a Food & Nutrition Database
          so that users have an accurate estimate of the calories consumed
          within a day. The purpose of GymFlow is to provide a web application
          that is easy to use and motivates users to continue or begin their fitness
          journey.
        </p>
      </div>
    </div>


  <script src="./scripts/navscripts.js"> </script>
    </body>
</htlm>


