<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GymFlow</title>
    <link rel="stylesheet" href="./styles/index.css">
    </head>

    <body>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<div class="wrapper" style="display:flex; flex-direction:column;">
    <div id="top_nav" class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">

        <div class="logo">

          <img src="./img/GymFlow.jpeg" style="height: 50%;
          width: 55%;
          " alt="Gymflow">
          <!--<p>GymFlow</p>-->
          <!--<img src="/img/GymFlow.jpg" alt=" GymFlow">-->

        </div>

        <ul>
          <li>

              <a href="/login" display="none">
                   <i class="fas fa-user"></i>
            </a>
          </li>
          <li>
            <a href="#" class="logged-in" display="none" id="logout">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
<div>
    <div class="sidebar">
      <ul>
        <li>

          <a href="/" display="none">
            <span class=" icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>

          <a href="/fitness" display="none" class="logged-in">
            <span class="icon"><i class="fas fa-dumbbell"></i></span>
            <span class="title">Fitness</span>
          </a>
        </li>
        <li class="logged-in">
          <a href="/profile">
            <span class="icon"><i class="fas fa-id-card"></i></span>
            <span class="title">Profile</span>
          </a>
        </li>
        <li>
            <a href="/program" display="none">
                <span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span>
                <span class="title">Program</span>
            </a>
        </li>
        <li>
          <a href="/contact" display="none">
            <span class="icon"><i class="fas fa-address-book"></i></span>
            <span class="title">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Main Components-->

  <div class="main_container">
      <br>
      <div class="item">
        <h1>Program</h1>
        <br />
        <p>
          GymFlow's Templated Diet Program!
        </p>
      </div>
    </div>


  <script src="./scripts/navscripts.js"> </script>
    </body>
</htlm>


