<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GymFlow</title>


    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/login.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>





    <div class="wrapper" style="display: flex; flex-direction: column;">
        <div id="top_navbar" class="top_navbar" style="position: sticky;
		overflow: hidden;">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                	<img src="./img/GymFlow.jpeg" alt="Gymflow" style="height:50%; width:55%">
		</div>
                <ul>
                    <li style="padding: 16px 0px 0px 0px; padding-bottom: 0px;">
                        <a href="/login" display="none">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <br>
                    <li style="padding: 16px 0px 0px 0px;">
                        <a href="#" class="logged-in" id="logout" display="none">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>

                    <a href="/" display="none">
                        <span class=" icon"><i class="fas fa-home"></i></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="logged-in">
                    <a href="/fitness" display="none">
                        <span class="icon"><i class="fas fa-dumbbell"></i></span>
                        <span class="title">Fitness</span>
                    </a>
                </li>
                <li>
                    <a class="logged-in" href="/profile" display="none">
                        <span class="icon"><i class="fas fa-id-card"></i></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/program" display="none">
                        <span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span>
                        <span class="title">Program</span>
                    </a>
                </li>
                <li>
                    <a href="/contact" display="none">
                        <span class="icon"><i class="fas fa-address-book"></i></span>
                        <span class="title">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
        <!------------------------------------>
        <div class="main_container" style="margin-top: 0px;">
            <section class="login-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4mine login-sec">
                            <h2 class="text-center">Register Now</h2>


                            <form id="signupForm">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">Email Address</label>
                                    <input name="email" type="text" class="form-control" placeholder="" required/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                                    <input name="pass" type="password" class="form-control" placeholder="" required/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputBio1" class="text-uppercase">Bio</label>
                                    <input name="bio" type="text" class="form-control" placeholder="" required />
                                </div>
                                <div class="form-check">
                                    <button class="btn btn-login float-right">
                                        Submit
                                    </button>
                                </div>
                            </form>


                        </div>
                        <!--Backgroung Gym Image-->
                        <div class="col-md-8mine banner-sec"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="./scripts/navscripts.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-firestore.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCVqKw0SWmEoRtIiJaCM-hRJUxRA3Mbc1g",
    authDomain: "gymflow-47c9b.firebaseapp.com",
    databaseURL: "https://gymflow-47c9b.firebaseio.com",
    projectId: "gymflow-47c9b",
    storageBucket: "gymflow-47c9b.appspot.com",
    messagingSenderId: "728577478893",
    appId: "1:728577478893:web:d86266b8cfa6b13f99bce4",
    measurementId: "G-M97878F1TC"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
	

        // Make auth and firestore references!
        const auth = firebase.auth();
        const db = firebase.firestore();
	const user = firebase.auth().currentUser;
        
	auth.onAuthStateChanged(user => {
		if (user) {
			console.log(user);
		
            var user = auth.currentUser;
            var data = {
                User: user
            };
            console.log(user)

            fetch("http://localhost:5001/gymflow-47c9b/us-central1/api/register-fatsecret", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            }).then(console.log(data))
		}
		else {
			console.log("No user is logged in!");
		}
	})

	const signupForm = document.querySelector('#signupForm');
        signupForm.addEventListener('submit', (e) => {
            //we want to stop the default submit settings of refreshing the
            //page
            e.preventDefault();//prevents the auto refresh!

            // get user info
            const email = signupForm['email'].value;
            const pass = signupForm['pass'].value;

            //sign up the user
            auth.createUserWithEmailAndPassword(email, pass).then(cred => {
                //we are returning so that we can do a .then() method afterwards and not have nested .then()
                return db.collection('users').doc(cred.user.uid).set({
                    bio: signupForm['bio'].value
                }); // we are creating the id of thr doc to be the uid from Firebase Auth
            }).then(() => {
                alert("Successfully Registered")
                signupForm.reset();
            })


        })

        //logout method
        const logout = document.querySelector("#logout");
        logout.addEventListener('click', (e) => {
            e.preventDefault();
            auth.signOut().then(() => {
                console.log("User Logged Out!");
            });
        })


        auth.onAuthStateChanged(user => {
            //if user is logged in then show data & if not then don't show anything
            if (user) {

                setupUI(user)

            } else {
                setupUI();
            }

        });
        const loggedOutLinks = document.querySelectorAll('.logged-out');
        const loggedInLinks = document.querySelectorAll('.logged-in');

        const setupUI = user => {
            if (user) {
                //toggle UI elements
                loggedInLinks.forEach(item => {
                    item.style.display = 'block'
                });
                loggedOutLinks.forEach(item => {
                    item.style.display = 'none'
                })
            } else {
                loggedInLinks.forEach(item => {
                    item.style.display = 'none'
                });
                loggedOutLinks.forEach(item => {
                    item.style.display = 'block'
                })
            }
        }

        firebase.analytics();
    </script>
</body>

</html>
